


body {
    
    background-color: hsl(0, 0%, 81%);
    text-align: center;
    margin-top: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
 
    

}



.grid-container {

margin: auto;
display: grid;
width:1100px;
grid-gap:15px;
grid-template-columns:repeat(4, 1fr);
grid-template-rows: repeat(2,270px);
box-sizing: border-box;
padding:10px;

}


.grid-item {


border-radius: 10px;
padding: 5px;
text-align: left;
padding: 10px;

}

.box1 {

    background-color: hsl(263, 55%, 52%);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2 {

    background-color:hsl(217, 19%, 35%);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
   


.box3 {

    background-color:hsl(0, 0%, 100%);
    color: black;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}


.box4 {

    background-color: hsl(0, 0%, 100%);
    color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box5 {

    background-color: hsl(219, 29%, 14%);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

h1,h2,h3,h4 {

color: white;


}

h2 {
    margin-top: 2px;
    font-size: 16px;
}

p {

    color: white;
    font-size: 13px;
    
    }
    

.name {

    text-align: left;
    margin-left:15px;
    color: white;
}

.name2 {

    text-align: left;
    color: white;
    opacity: 50%;
}

table tr td {

padding: 5px;
text-align: left;


}

img {

    border-radius: 50%;
}

.black {

    color: black;
}

a:link {
    color: white;
    font-size: 11px;
}

a:hover {
    text-decoration: underline;
}
